**/.*
**/tmp*
**/*.dSYM
**/*.vscode

**/*.o
**/*.d
**/*.a
**/*.gch
**/*.java

**/*.out
**/*.exe

**/materials/dot_representations/*

!**/materials/dot_representations/example.dot
!**/.gitkeep
!**/.gitignore